

@font-face {
  font-family: 'MarsCentra-Book';
  src: local('MarsCentra-Book'), url(./fonts/MarsCentra-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'MarsCentra-Bold';
  src: local('MarsCentra-Bold'), url(./fonts/MarsCentra-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
