#detailReporttbl th{
    text-align: center;
    background-color: #f4f1f1;
    color: #00d7b9;
    border: 1px solid white;
    font-weight: 600;
    width: 5%;
}

#detailReporttbl td{
    background-color: #f4f1f1;
    color: black;
    border: 1px solid white;
}

#overviewProductReporttbl td{
    background-color: #f4f1f1;
    color: black;
    border: 1px solid white;
}

#overviewServiceReporttbl td{
    background-color: #f4f1f1;
    color: black;
    border: 1px solid white;
}