.filter{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
}

label{
    font-size: 14px;
    padding-right: 10px;
}

input{
    padding: 5px;
    font-size: 12px;
}
.filterDiv {
    display: inline-block;
    background-color: #0000a0;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin: 0 1%;
    /* height: fit-content; */
  }
.filterDropDown {
    float: right;
    padding: 3px;
  }

  .rmsc {
    --rmsc-radius: 0px !important;
    --rmsc-h: 24px !important;
    --rmsc-border: #000 !important;
    --rmsc-gray: #000 !important;
    color: black;
    --rmsc-h: 28px !important;
    margin: 0;
}
  .rmsc .dropdown-heading {
    position: relative;
    padding: 0 var(--rmsc-p);
    display: flex;
    align-items: center;
    width: 100%;
    /* height: var(--rmsc-h); */
    cursor: default;
    outline: 0;
    height: 23px;
}